{% extends "core/base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <div class="min-h-full flex justify-center items-center">
        <div class="w-1/3 bg-gray-100 p-6">
            <h2>Sign Up</h2>
            <form method="post" class="mt-4 rounded-lg p-4">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-4">
                    <label class="block mb-2">First Name</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>

                <div class="mb-4">
                    <label class="block mb-2">Last Name</label>
                    {{ form.last_name }}
                    {{ form.last_name.errors }}

                </div>

                <div class="mb-4">
                    <label class="block mb-2">Username</label>
                    {{ form.username }}
                    {{ form.username.errors }} 
                </div>

                <div class="mb-4">
                    <label class="block mb-2">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="mb-4">
                    <label class="block mb-2">Password</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}

                </div>

                <div class="mb-4">
                    <label class="block mb-2">Confirm Password </label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>


                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Sign Up</button>
            </form>
            <p>Already have an account? <a href="#">Log in</a></p>
        </div>
    </div>
{% endblock content %}